footer {
    background-color: bisque;
    border: 3px solid red;
}

header {
    background-color: white;
    border: 3px solid red;

}

nav {
    background-color: beige;
    border: 3px solid red;
    float: left;

}

main {
    background-color: blanchedalmond;
    border: 3px solid red;
}

body {
    background-color: black;
}